@page
@model MVVM_Shop.Pages.CartModel
@{
}

<div class="card card_checkout" style="margin-top: 7%;">
    @{
        <table class="table styled-table " style="margin: 10px 0 10px 0; padding-top: 7%;">
            <tr class="col thead">
                <th class="col-1">ITEM</th>
                <th class="col-2">UNIT PRICE</th>
                <th class="col-3">QUANTITY</th>
                <th class="col-4">PRICE</th>
            </tr>
            @foreach (var cartItem in Model.CartItems)
            {
                <tr class="col tbody">
                    <td class="col-1">@cartItem.Product.Name </td>
                    <td class="col-2 slim-text">@(Convert.ToDecimal(cartItem.Product.DefaultPrice).ToString("0.00")) @cartItem.Product.Currency</td>
                    <td class="col-3"><a asp-page-handler="DecreaseQuantity" asp-route-ProductId="@cartItem.ProductId">-</a> @cartItem.Quantity <a asp-page-handler="IncreaseQuantity" asp-route-ProductId="@cartItem.ProductId">+</a></td>
                    <td class="col-4 slim-text">@(cartItem.Quantity * Convert.ToDecimal(cartItem.Product.DefaultPrice.ToString("0.00"))) @cartItem.Product.Currency</td>
                </tr>
            }
        </table>

    }


    <div class="d-table-cell total_price">
        <p> Cart Price:  @Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice).ToString("0.00") USD</p>
        <p>VAT Cart Price:  @(((decimal)@Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice)==0 ? 0: (decimal)@Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice) / 100 * 19).ToString("0.00")) USD</p>

        <hr style="border-width: initial; border-color: black; width: 25%; text-align: left; margin-left:0; padding-left:0;" />
        <b>Total Cart Price:  @(((decimal)@Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice) == 0 ? 0 : (decimal)@Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice) + (decimal)@Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice) / 100 * 19).ToString("0.00")) USD</b>
    </div>
    <br />

    @if (Model.CartItems.Sum(cartItem => cartItem.Quantity * cartItem.Product.DefaultPrice) != 0)
    {
        <div class="align-content-center area-button-check">
            <a class="btn btn-success" href="@Url.Page("/Checkout")">Checkout</a>
        </div>
    }
    <br /><br /><br />

</div>