@inject SqlDb sql

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Codecool.CodecoolShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="position:fixed; z-index: 1000; width: 100%; top: 0px;">

            <div class="container">
                <a class="navbar-brand" href="@Url.Page("/Index")">Codecool.CodecoolShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Page("/Index")">Home</a>
                        </li>
                        @if (Context.Session.GetString("Email") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Logout" asp-action="Index"><span class="logout-nav">Logout</span> @Context.Session.GetString("Email")</a>
                            </li>
                            <li class="nav-item">
                                @* <a class="nav-link text-dark" class="btn btn-link navbar-main-btn" href="@Url.Page("/Cart")"><i class="fas fa-shopping-cart"></i> <i id="counterPlace">@(sql.Carts.Where(x => x.UserId == Convert.ToInt32(Context.Session.GetString("Id"))).Sum(x => x.Quantity))</i></a>*@
                                <a href="@Url.Page("/Cart")" id="counterPlace" class="nav-link text-dark">
                                    <i class="fas fa-shopping-cart"></i>
                                    @if ((sql.Carts.Where(x => x.UserId == Convert.ToInt32(Context.Session.GetString("Id"))).Sum(x => x.Quantity) != 0))
                                    {
                                        <span class="jewel jewel-danger">@(sql.Carts.Where(x => x.UserId == Convert.ToInt32(Context.Session.GetString("Id"))).Sum(x => x.Quantity))</span>}
                                </a>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@Url.Page("/Login")">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Codecool.CodecoolShop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
